<div class="container">
    <div class="row">
       <h1 class="col-sm mt-5">
         Login Page
       </h1>
    </div>
    <div class="row">
          <div class="col-sm mt-5">
             <form [formGroup]="loginForm">
                <input formControlName="username" type="text" class="form-control" placeholder="username">
                <input formControlName="password" type="password" class="form-control mt-2" placeholder="password">
                <input (click)="submit()" type="submit" class="btn btn-primary mt-5" value="Login" />
                <button routerLink="/register" class="btn btn-primary mt-5 mx-2">New User?Sign Up</button>
             </form>
          </div>
    </div>

    <mat-progress-bar *ngIf="displayLoading" class="mt-5" mode="indeterminate"></mat-progress-bar>

    <div *ngIf="displayError" class="alert alert-danger mt-5">
        Invalid Login
    </div>
</div>
